.toolbar {
  opacity: 0.1;
  transition: all 0.3s;

  &:hover {
    opacity: 1;
  }
  div {
    margin: 2px auto 15px;
    border: none;
    display: flex;
  }
  button {
    text-align: center;
    padding: 1rem;
    cursor: pointer;
  }
}
