// Colors
$white: #fdfbfe;
$grey-dark: #2f3135;
$grey-dark-2: #242527;
$grey-light: #fdfbfc;
$grey-light-2: #e9e9e9;
$grey-light-3: #6e6e6e;
$grey-light-4: #e3e3e3;
$orange: orange;

// Buttons colors
$btn-primary: #5bc0de;
$btn-warning: #f0ad4e;
$btn-danger: #d9534f;
$btn-success: #5cb85c;
$btn-secondary: #d7d7d7;
